body{
    padding: 0;
    margin: 0;
}
.header{
    margin-bottom: 75px;
}
.newPostInput{
    width: 100%;
}
.newPost{
    margin-top: 10px;
    margin-bottom: 20px;
}
.navLink{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.album{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    background: url("https://i.ibb.co/Xp40YQC/6fec6b8b-948b-4ef6-bfec-6369ee1b55f2.png") no-repeat center;
    background-size: 100%;
}

#basic-button{
    display: flex;
    margin-left: 40%;
    margin-bottom: 20px;
}
/*---------------------------------------------------------------------------------------------------------*/
.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    /* DOTS */
    /* ARROWS */
}
.slider .slide-list {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.slider .slide-list .slide {
    flex: 1 0 100%;
    position: relative;
}
.slider .slide-list .slide .slide-image {
    display: flex;
    margin: 0 auto;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
}
.slider .slide-list .slide .slide-title {
    text-align: center;
    margin-top: 10px;
}
.slider .dots {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
.slider .dots .dot {
    background-color: #e7e7e7;
    border-radius: 5px;
    height: 10px;
    margin: 5px;
    width: 10px;
}
.slider .dots .dot:hover {
    cursor: pointer;
}
.slider .dots .dot.selected {
    background-color: green;
}
.slider .arrows {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 1;
}
.slider .arrows .arrow {
    height: 30px;
    width: 30px;
}
.slider .arrows .arrow:hover {
    cursor: pointer;
}
.slider .arrows .arrow.left {
    color: black;
    margin-left: 5px;
}
.slider .arrows .arrow.right {
    color: black;
    margin-right: 5px;
}

/*________________________________________________________________________________________________*/

.input {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover {
    background-color: #388ae2;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.container {
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.todos {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color: rgb(50, 195, 205);
}

.dragactive {
    background-color: rgb(0, 221, 236);
}

.dragcomplete {
    background-color: rgb(255, 38, 0);
}

.remove {
    background-color: rgb(235, 103, 80);
}

.todos__heading {
    font-size: 30px;
    /* text-align: center; */
    color: white;
}

.todos__single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
    transition: 0.2s;
}

.drag {
    box-shadow: 0 0 20px black;
}

.todos__single:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todos__single--text:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .todos {
        width: 45%;
    }
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .container {
        width: 95%;
        flex-direction: column;
    }
    .todos {
        width: 95%;
        margin-bottom: 10px;
    }
}

/**********************************************************************************/

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}
.flex {
    display: flex;
}