body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
h2{
    display: flex;
    justify-content: center;
}
.home{
    justify-content: center;
}
.navigationLinks button:hover{
    cursor: pointer;
    color: #acbdd3;
}
a:hover{
    cursor: pointer;
    color: #acbdd3;
}
.createButton{
    display: flex;
    width: 100%;
}
.createButton a {
    justify-content: center;
    display: flex;
    width: 100%;
}
.panelButton{
    justify-content: right;
}
.header{
    margin-bottom: 75px;
}
.newPostInput{
    width: 100%;
}
.comment{
    display: inline;
    width: 100%;
}
.comment_header{
    margin-top: 15px;
}
.newOrEditPostInput{
    margin-top: 10px;
    margin-bottom: 20px;
}
.newAlbumInput{
    display: flex;
    width: 100%;
}
.firstButton{
    margin-right: auto;
}
.comments{
    margin: 10px;
}
.noComments{
    display: flex;
    justify-content: center;
}
.newOrEditPost{
    margin: 10px;
}
.newOrEditButtonPanel{
    display: flex;
    justify-content: right;
}
.navLink{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.albumControl{
    display: flex;
    background-color: white;
    border: 1px solid #1976d2;
    border-bottom-right-radius: inherit;
}
.albumTitle{
    color: white;
    margin: auto;
}
.sliderTitle{
    color: #1976d2;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.fontBold button{
    font-weight: bold;
}
.fontBold{
    font-weight: bold;
}

.slideTitle{

}

.album{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #1976d2;
    background-size: 100%;
}

#basic-button{
    display: flex;
    margin-left: 40%;
    margin-bottom: 20px;
}
/*---------------------------------------------------------------------------------------------------------*/
.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    /* DOTS */
    /* ARROWS */
}
.slider .slideList {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.slider .slideList .slide {
    flex: 1 0 100%;
    position: relative;
}
.slider .slideList .slide .slideImage {
    display: flex;
    margin: 0 auto;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
}
.slider .slideList .slide .slideTitle {
    text-align: center;
    margin-top: 10px;
}
.slider .dots {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
.slider .dots .dot {
    background-color: #e7e7e7;
    border-radius: 5px;
    height: 10px;
    margin: 5px;
    width: 10px;
}
.slider .dots .dot:hover {
    cursor: pointer;
}
.slider .dots .dot.selected {
    background-color: #1976d2;
}
.slider .arrows {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 1;
}
.slider .arrows .arrow {
    height: 30px;
    width: 30px;
    color: #1976d2;
}
.slider .arrows .arrow:hover {
    cursor: pointer;
    color: #acbdd3;
}
.slider .arrows .arrow.left {
    margin-left: 5px;
}
.slider .arrows .arrow.right {
    margin-right: 5px;
}

/**********************************************************************************/
.flexCol {
    flex-direction: column;
}
.flex {
    display: flex;
    justify-content: center;
}
.todo .draggableItem{
    display: flex;
    justify-content: right;
    margin-bottom: 7px;
    height: 50px;
    cursor: grab;
}
.todo .draggableItem span{
    margin-right: auto;
}